@tailwind base;
@tailwind components;
@tailwind utilities;

.post {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 5px;
}

.content {
  color: #555;
  font-size: 16px;
}

.author {
  color: #777;
  font-size: 14px;
}

